@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #264653;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}
.clock {
    width: 100%;
}
.clock__header,
.clock__body,
.clock__footer {
    max-width: 90%;
    margin: 0 auto;
    background-color: #6d6875;
    font-size: 2rem;
    padding: 1rem 0;
    letter-spacing: 4px;
}
.clock__body {
    background-color: #ff006e;
    font-size: 2.5rem;
}
.clock__footer{
    background-color: #ffc300;
    font-size: 3rem;
}